# ? обозначает один символ. Будут проигнорированы файлы fileA.txt и file1.txt, но не file12.txt
file?.txt
# Система игнорирует все файлы с расширением jpeg
*.jpeg
# но только не мем с Doge
!doge.jpeg 
# игнорировать файлы file0.txt, file1.txt и file2.txt
file[0-2].txt 
# игнорировать файлы filea.txt, fileb.txt и filec.txt
file[adc].txt 
# игнорировать файлы "docs/current/tmp", "docs/old/tmp",
# а также "docs/old/saved/a/b/c/d/tmp"
# и даже "docs/tmp", потому что ноль вложенных папок тоже подходит
docs/**/tmp

# игнорировать только "docs/current/tmp" и "docs/old/tmp"
# файл "docs/old/saved/a/b/c/d/tmp" не попадает в правило
docs/*/tmp 